{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
<div style="background-color: #EBEDEF; padding: 55px 500px 100px 500px">
  <p class="text-center" style="font-size: 45px"><b>Coca‑Cola Ecuador – <br>¡Estamos para ayudarte!</b></p>
  <p style="font-size: 25px"><b>Contáctanos</b></p>
  <p style="font-size: 35px"><b>Email</b></p>
  <div  style="font-size: 20px">
    <p >Envíanos tu duda o sugerencia a contactococacolaecuador@coca-cola.com  con los <br>siguientes datos: <br>

  <li>Nombre y Apellido </li><br>

  <li>Teléfono</li> <br>

  <li>Dirección</li> <br>

  <li>Comuna</li> <br>

  <li>Ciudad</li>

  </p>
  </div>

<p style="font-size: 35px; padding: 20px;"><b>Redes Sociales</b></p>
<p style="font-size: 20px"><b>Facebook <br>Twitter <br>Linkedin</b></p>

</div>



{% endblock %}
