{% extends "./plantilla.html" %}
    {% block contenido %}

  <div style="background-color: #EBEDEF; padding: 20px 0px 60px 0px">
      <img src="static/img/inicio.png" class="card-img-top mx-auto d-block" alt="..." style="width: 80%;"><br>
      <h1 class="text-center p-4"><b>Experiencias</b></h1><br>
      <div class="card-group" style="padding: 0px 350px 0px 350px">
          <div class="card" >
            <img src="static/img/inicio2.png" class="card-img-top" alt="..." data-aos="fade-in">
            <div class="card-body">
              <h3 class="card-title"><b>Llamado de Santa</b></h3>
              <p class="card-text" style=font-size: 15px">Habla con Santa <br> Vive una experiencia única con un llamado mágico</p>
                <a href="#" style="color: black; text-decoration: none; font-size: 20px"><b>Explorar</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
            </div>
          </div><br><br><br>
          <div class="card">
            <img src="static/img/inicio3.png" class="card-img-top" alt="..." data-aos="fade-in">
            <div class="card-body">
              <h3 class="card-title"><b>Coke Studio</b></h3>
              <p class="card-text" style=font-size: 15px>Experimenta la magia de la música <br>&nbsp</p>
              <a href="#" style="color: black; text-decoration: none; font-size: 15px"><b>Descúbrelo</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
            </div>
          </div>
    </div><br>
    <h1 class="text-center p-4"><b>Sobre CocaCola</b></h1><br>
    <div class="card-group" style="padding: 0px 350px 0px 350px">
        <div class="card">
          <img src="static/img/inicio4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"><b>Sustentabilidad</b></h4>
              <a href="#" style="color: black; text-decoration: none; font-size: 20px"><b>Ver más</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
          </div>
        </div><br><br><br>
        <div class="card">
          <img src="static/img/inicio5.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"><b>Nuestra Compañia</b></h4>
            <a href="#" style="color: black; text-decoration: none; font-size: 15px"><b>Ver más</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
          </div>
        </div>
  </div><br>
  <h2 class="text-center p-4"><b>Nuestras Marcas</b></h2><br>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 0px 500px 0px 500px">
  <div class="col">
    <div class="card">
      <img src="static/img/m1.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/m2.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/m3.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/m4.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/m5.png" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/img/m6.png" class="card-img-top" alt="...">
    </div>
  </div>
</div><br>
<div class="text-center">
  <button type="button" class="btn btn-outline-dark rounded-pill px-5"><b>Ver Todas</b></button>
</div><br>

  </div>
{% endblock %}
