{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
<div style="background-color: #EBEDEF; padding: 25px 400px 100px 400px">
  <p style="font-size: 50px"><b>Mapa del sitio</b></p>
   <div class="border-bottom border-dark mb-3" style="color: black"></div>
   <p style="font-size: 40px"><b>Marcas</b></p>
   <div class="row" style="padding: 20px">
     <div class="col-md-4">
        <p style="font-size: 20px"><b>Marcas</b> <br>Coca‑Cola <br>Fanta <br>Sprite</p><br>
     </div>
     <div class="col-md-8">
          <p style="font-size: 20px">Dasani <br>Del Valle <br>Powerade <br>Fuze Tea</p>
     </div>

   </div>
   <div class="border-bottom border-dark mb-3" style="color: black"></div>
    <p style="font-size: 40px"><b>Descubre</b></p>
    <p style="font-size: 20px; padding: 20px;">Navidad <br>Coke Studio <br>Pausa es Power <br>La mejor Coca‑Cola de todas</p>
     <div class="border-bottom border-dark mb-3" style="color: black"></div>
     <p style="font-size: 40px"><b>Impacto</b></p>
     <p style="font-size: 20px; padding: 20px;">Sustentabilidad <br>Social</p>
     <div class="border-bottom border-dark mb-3" style="color: black"></div>
      <p style="font-size: 40px"><b>Pie de página</b></p>
      <div class="row" style="font-size: 20px; padding: 20px;">
        <div class="col-md-4">
          <p>Nuestra Compañía <br>Sala de Prensa <br>Nuestra historia <br>Trabaja con nosotros</p>
        </div>
        <div class="col-md-4">
          <p>Mapa del sitio <br>Contáctanos</p>
        </div>
        <div class="col-md-4">
          <p>Términos de Uso <br>Configuración de cookies <br>Política de privacidad</p>
        </div>
      </div>

</div>


{% endblock %}
