{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
<main class="">
     <div class="container">
       <h1 class="text-center titulo">Novedades</h1>
       <p class="text-center">
         Seleccione una categoria para aplicar el filtro
       </p>

       <ul class="lista-prensa">
         <li><a href="#">¿La mejor Coca‑Cola de todas?</a></li>
         <hr />
         <li>
           <a href="#"
             >PROGRAMA DE LIMPIEZA COSTERA EN LA LUCHA POR <br />
             OCÉANOS LIBRES DE DESECHOS</a
           >
         </li>
         <hr />
         <li>
           <a href="#">JUNTOS PARA COMPARTIR</a>
         </li>
         <hr />
         <li>
           <a href="#">Todo lo que puedes recuperar viviendo más retornable</a>
         </li>
         <hr />
         <li>
           <a href="#"
             >Retornables: el nuevo comercial de Coca‑Cola que <br />
             inspira a adoptar hábitos sostenibles</a
           >
         </li>
         <hr />
         <li>
           <a href="#"
             >LA COMPAÑÍA COCA-COLA REAFIRMA SU COMPROMISO <br />
             POR LA SEGURIDAD HÍDRICA CON SU VISIÓN 2030</a
           >
         </li>
         <hr />
         <li>
           <a href="#"
             >Nuestro recorrido en el emergente negocio de las <br />
             bebidas con alcohol
           </a>
         </li>
         <hr />
         <li>
           <a href="#">Playas limpias y océanos saludables </a>
         </li>
         <hr />
         <li>
           <a href="#"
             >Empoderamos comunidades hoy, para marcar la <br />
             diferencia mañana
           </a>
         </li>
         <hr />
         <li>
           <a href="#"
             >“Emprendamos Junt@s,” un programa comprometido <br />
             con el empoderamiento económico femenino en el <br />
             Ecuador
           </a>
         </li>
         <hr />
         <li>
           <a href="#">Preservación hídrica en Carmen de Jadán </a>
         </li>
         <hr />
         <li>
           <a href="#"
             >EL TOUR DEL TROFEO DE LA COPA MUNDIAL DE LA <br />
             FIFA™ POR COCA-COLA, LLEGA A ECUADOR</a
           >
         </li>
         <hr />
         <li>
           <a href="#">Magia de Verdad</a>
         </li>
         <hr />
         <li>
           <a href="#"
             >La Compañía Coca‑Cola anuncia un objetivo líder en la <br />
             industria para envases reutilizables.</a
           >
         </li>
       </ul>
     </div>
   </main>

{% endblock %}
