{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
<main>
     <div class="container-fluid" style="background-color: #f1f1f1">
       <div class="container-power-music mx-auto">
         <div class="container-text-music">
           <h1 class="titulo">La gente es importante</h1>
           <p class="mt-3">
             Creemos firmemente en la importancia de un entorno laboral que
             fomente la diversidad, la equidad y la inclusión para lograr el
             éxito de nuestra compañía. Al trabajar juntos para crear un futuro
             próspero y compartido para nuestros empleados y comunidades,
             estamos promoviendo el acceso a oportunidades justas y un
             sentimiento de pertenencia tanto en el lugar de trabajo como en la
             sociedad en general.
           </p>
           <p class="mt-3">
             Hace mucho tiempo que somos conscientes de que nuestro negocio
             depende de las comunidades a las que servimos con orgullo. No solo
             nos preocupamos por nuestros empleados, sino que también
             trabajamos para tener un impacto positivo en la vida de nuestros
             consumidores, clientes y en las sociedades de todo el mundo.
           </p>
         </div>

         <div class="social-container mx-auto">
           <div class="container-texto-boton-social">
             <p>
               Estamos adoptando medidas para construir un futuro más <br />
               próspero juntos, a través de la inversión en el fortalecimiento
               <br />
               económico, la promoción de la diversidad, equidad e inclusión, y
               <br />
               la realización de donaciones a través de la Fundación Coca‑Cola.
             </p>
             <div class="container-button">
               <a href="#">Mas informacion</a>
             </div>
           </div>
         </div>

         <div>
           <h2 class="subtitulo mb-4">
             Las áreas que nos interesan en el ámbito social
           </h2>
           <div class="row">
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/ec/es/social/ec-Content-Card(4_1)_1102x827px.jpg/width1960.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Derechos humanos
                 </h2>
                 <p>
                   El respeto de los derechos humanos es un valor fundamental
                   para nosotros. Trabajamos para crear una empresa más
                   sostenible que marque la diferencia en la vida de las
                   personas, las comunidades y nuestro planeta.
                 </p>
               </div>
               Mas Informacion ->
             </a>
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/ec/es/social/ec-Content-Card(1_1)_1102x827px.jpg/width1960.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Diversidad, equidad e inclusión
                 </h2>
                 <p>
                   Nuestra estrategia hídrica se enfoca en la seguridad del
                   agua mediante el reabastecimiento local (devolver el agua a
                   las comunidades y a la naturaleza), defender las políticas
                   inteligentes del agua, y el uso responsable y eficiente del
                   agua en todas nuestras operaciones y en las comunidades a
                   las que servimos.
                 </p>
               </div>
               Mas Informacion ->
             </a>
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/ec/es/social/ec-Content-Card(2_1)_1102x827.jpg/width1960.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Personas y comunidades
                 </h2>
                 <p>
                   Brindamos apoyo a las comunidades donde residimos y
                   trabajamos con el objetivo de ayudarlas a alcanzar mayores
                   logros, especialmente en momentos de necesidad.
                 </p>
               </div>
               Mas Informacion ->
             </a>
           </div>
         </div>

         <div>
           <h2 class="subtitulo">
             Nuestros objetivos, iniciativas y avances globales en
             sostenibilidad
           </h2>

           <div
             class="row position-relative"
             style="margin-top: 10rem; z-index: 1"
           >
             <div class="col-6" style="z-index: 0; position: absolute top-0">
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/ec/es/social/ec_social_primary_LP_Governance_Report-1280x1024.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
             </div>
             <div
               class="col-6 d-flex flex-column justify-content-between position-absolute shadow-lg rounded-5"
               style="
                 z-index: 200;
                 height: 552px;
                 padding: 3rem;
                 bottom: 10px;
                 right: 50px;
               "
             >
               <div>
                 <h3>Informe Ambiental, Social y de Gobernanza de 2021</h3>
                 <p>
                   Nuestro objetivo es crear marcas y productos que sean del
                   agrado de las personas, al mismo tiempo que trabajamos por
                   un futuro más sostenible para nuestra empresa y para el
                   medioambiente. Todo lo que hacemos está en línea con nuestra
                   misión de renovar el mundo y hacer una diferencia
                   significativa.
                 </p>
               </div>
               <div class="">
                 <a
                   class="border border-black px-5 py-2 rounded-5 text-dark text-decoration-none"
                   href="#"
                   >Ver como</a
                 >
               </div>
             </div>
           </div>

           <div
             class="row position-relative"
             style="margin-top: 10rem; z-index: 1; margin-bottom: 40rem"
           >
             <div
               class="col-6 position-absolute top-0"
               style="z-index: 0; position: absolute top-0; right: 50px"
             >
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/ec/es/social/ec_global_social_sustainability-resource-centre_01_campaign-card_1280x1024.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
             </div>
             <div
               style="z-index: 200; height: 552px; padding: 3rem"
               class="col-6 d-flex flex-column justify-content-between position-absolute shadow-lg rounded-5"
             >
               <div>
                 <h3>Centro de recursos sobre sostenibilidad</h3>
                 <p>
                   Este recurso ofrece una visión general de nuestros esfuerzos
                   para hacer una contribución significativa a la sociedad y al
                   medioambiente, y para ello estamos trabajando arduamente en
                   la creación de una empresa sostenible que tenga un impacto
                   positivo en la vida de las personas y las comunidades, así
                   como en nuestro planeta.
                 </p>
               </div>
               <div class="">
                 <a
                   class="border border-black px-5 py-2 rounded-5 text-dark text-decoration-none"
                   href="#"
                   >Descubre nuestros objetivos e iniciativas</a
                 >
               </div>
             </div>
           </div>
         </div>

         <div class="container-power-redes">
           <div>
             <h2 style="font-size: 32px">¿Todavía tienes preguntas?</h2>
           </div>
           <div class="">
             <a
               class="border px-5 py-2 rounded-5 text-light text-decoration-none"
               href="#"
               >Haz tu pregunta</a
             >
           </div>
         </div>
       </div>
     </div>
   </main>

{% endblock %}
