{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
<main>
     <div class="container-fluid" style="background-color: #f1f1f1">
       <div class="container-power-music mx-auto">
         <div class="container-text-music">
           <h1 class="titulo">Nuestro planeta es importante</h1>
           <p class="mt-3">
             Nuestro objetivo es crear un futuro más sostenible y solidario.
             Hacer un cambio en la vida de las personas, las comunidades y
             nuestro planeta haciendo negocios de la manera correcta. Siendo
             mejores nosotros mismos, podemos ayudar a construir un futuro más
             sólido y sostenible para todos.
           </p>
           <p class="mt-3">
             Adoptamos un enfoque integral de la sostenibilidad centrado en la
             gestión social, medioambiental, y económica. Solo con un enfoque
             integral podemos lograr un cambio transformador y duradero.
           </p>
         </div>

         <div class="sustentabilidad-container mx-auto">
           <div class="container-texto-boton-sustentabilidad">
             <p>
               Nuestra estrategia de sostenibilidad nos permite apoyar <br />
               y comprometer a las personas que hay detrás de nuestras
               <br />marcas: desde los agricultores y empleados, hasta los
               socios <br />
               embotelladores y proveedores, los clientes y consumidores,
               <br />
               y las comunidades a las que llamamos hogar. Esta estrategia
               <br />
               nos ayuda a avanzar en nuestras metas de proteger el <br />
               medioambiente.
               <br />
             </p>
             <div class="container-button">
               <a href="#">Mas informacion</a>
             </div>
           </div>
         </div>

         <div>
           <h2 class="subtitulo mb-4">
             Nuestras áreas de enfoque en la sostenibilidad
           </h2>
           <div class="row">
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/global_Sustainable%20Agriculture_content_card_1102x827.jpg/width1960.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Agricultura sostenible
                 </h2>
                 <p>
                   Nuestros productos dependen de una cadena de suministro
                   saludable con comunidades agrícolas prósperas. Trabajamos
                   con nuestros proveedores y una variedad de socios para crear
                   un cambio sistémico en nuestra cadena de suministro
                   agrícola.
                 </p>
               </div>
               Mas Informacion ->
             </a>
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/es_mx_lake_content_card_1102x827.jpg/width1024.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Administración hídrica
                 </h2>
                 <p>
                   Nuestra estrategia hídrica se enfoca en la seguridad del
                   agua mediante el reabastecimiento local (devolver el agua a
                   las comunidades y a la naturaleza), defender las políticas
                   inteligentes del agua, y el uso responsable y eficiente del
                   agua en todas nuestras operaciones y en las comunidades a
                   las que servimos.
                 </p>
               </div>
               Mas Informacion ->
             </a>
             <a
               class="col-4 d-flex flex-column justify-content-between text-decoration-none text-dark"
               style="cursor: pointer"
               href="#"
             >
               <div>
                 <img
                   src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/es_mx_bottle_content_card_1102x827.jpg/width1024.jpg"
                   alt=""
                   width="100%"
                 />
                 <h2
                   class="mt-4 text-center mb-3"
                   style="font-size: 32px; font-weight: 700"
                 >
                   Embalaje sostenible
                 </h2>
                 <p>
                   Nuestro objetivo es recolectar y reciclar una botella o lata
                   por cada una que vendemos, hacer que el 100 % de nuestros
                   envases sean reciclables y utilizar un 50 % de contenido
                   reciclado en nuestras botellas.
                 </p>
               </div>
               Mas Informacion ->
             </a>
           </div>
         </div>

         <div>
           <h2 class="subtitulo mb-4">
             Últimas noticias sobre sostenibilidad
           </h2>
           <div class="row">
             <a
               class="col-6 text-decoration-none bg-light text-dark p-2"
               href="#"
             >
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/global_NEW_Coca_Cola_Foundation_1102x827px.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
               <h3 class="subsubtitulo">
                 El Sistema Coca‑Cola y la Fundación Coca‑Cola se movilizan
                 para apoyar las labores de auxilio tras las inundaciones en
                 Kentucky
               </h3>
               Mas información ->
             </a>

             <a
               class="col-6 text-decoration-none bg-light text-dark p-2"
               href="#"
             >
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/global_NEW_Dasani%20and%20Sprite%201102x827px.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
               <h3 class="subsubtitulo">
                 DASANI y Sprite mejoran sus certificaciones de sostenibilidad
                 de sus envases en América del Norte
               </h3>
               Mas información ->
             </a>
           </div>
         </div>

         <div>
           <h2 class="subtitulo">
             Nuestros objetivos, iniciativas y avances globales en factores
             Ambientales, Sociales y de Gobernanza (ASG)
           </h2>

           <div
             class="row position-relative"
             style="margin-top: 10rem; z-index: 1"
           >
             <div class="col-6" style="z-index: 0; position: absolute top-0">
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/global_sustainability_Campaign_Governance_Report%201280x1024.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
             </div>
             <div
               class="col-6 d-flex flex-column justify-content-between position-absolute shadow-lg rounded-5"
               style="
                 z-index: 200;
                 height: 552px;
                 padding: 3rem;
                 bottom: 10px;
                 right: 50px;
               "
             >
               <div>
                 <h3>Informe Ambiental, Social y de Gobernanza de 2021</h3>
                 <p>
                   Nuestro objetivo es crear marcas y productos que sean del
                   agrado de las personas, al mismo tiempo que trabajamos por
                   un futuro más sostenible para nuestra empresa y para el
                   medioambiente. Todo lo que hacemos está en línea con nuestra
                   misión de renovar el mundo y hacer una diferencia
                   significativa.
                 </p>
               </div>
               <div class="">
                 <a
                   class="border border-black px-5 py-2 rounded-5 text-dark text-decoration-none"
                   href="#"
                   >Ver como</a
                 >
               </div>
             </div>
           </div>

           <div
             class="row position-relative"
             style="margin-top: 10rem; z-index: 1; margin-bottom: 40rem"
           >
             <div
               class="col-6 position-absolute top-0"
               style="z-index: 0; position: absolute top-0; right: 50px"
             >
               <img
                 src="https://www.coca-cola.com/content/dam/onexp/sv/es/home-images/sustainability/new-images-sustainability/ie_Global%20Sustainability_water_Campaign_Card_1280x1024.jpg/width1960.jpg"
                 alt=""
                 width="100%"
               />
             </div>
             <div
               style="z-index: 200; height: 552px; padding: 3rem"
               class="col-6 d-flex flex-column justify-content-between position-absolute shadow-lg rounded-5"
             >
               <div>
                 <h3>Centro de recursos sobre sostenibilidad</h3>
                 <p>
                   Este recurso ofrece una visión general de nuestros esfuerzos
                   por crear una empresa más sostenible y un futuro mejor
                   compartido, que marque la diferencia en la vida de las
                   personas, las comunidades y nuestro planeta
                 </p>
               </div>
               <div class="">
                 <a
                   class="border border-black px-5 py-2 rounded-5 text-dark text-decoration-none"
                   href="#"
                   >Descubre nuestros objetivos e iniciativas</a
                 >
               </div>
             </div>
           </div>
         </div>

         <div class="container-power-redes">
           <div>
             <h2 style="font-size: 32px">¿Todavía tienes preguntas?</h2>
           </div>
           <div class="">
             <a
               class="border px-5 py-2 rounded-5 text-light text-decoration-none"
               href="#"
               >Haz tu pregunta</a
             >
           </div>
         </div>
       </div>
     </div>
   </main>

{% endblock %}
