{% extends "./plantilla.html" %}
    {% block contenido %}
{% load static %}
 <div style="background-color: #EBEDEF; padding: 20px 0px 60px 0px">
   <div style="position: relative; width: 80%; margin: 0 auto;">
    <img src="{% static "img/tr1.png" %}" class="card-img-top mx-auto d-block" alt="..." style="width: 100%;">
   </div>
   <div class="text-center" style="padding: 45px 400px 100px 400px">
     <h1><b>En The Coca‑Cola Company creemos en el poder del potencial humano.</b></h1><br>
     <p style="font-size: 18px">Nuestra cultura se basa en la creencia fundamental de que nunca dejamos de aprender. Que cada uno de nosotros tiene la capacidad de tomar control de nuestro propio futuro individual, pero que cuando trabajamos juntos podemos lograr un impacto más duradero en las comunidades a las que servimos.
       Porque creemos que nuestro potencial humano es ilimitado, buscamos el mejor talento para ayudarnos a todos a prosperar.</p>
   </div>
   <div class="row" style="padding: 35px 400px 100px 400px">

     <div class="col-md-6" style="background-color: white; padding: 80px;">
       <h5 class="card-title" style="font-size:35px; aling: center;"><b>Trabaja con nosotros</b></h5><br>
       <p class="card-text" style="font-size:17px; ">The Coca‑Cola Company es una comunidad global de soñadores, constructores, hacedores y pensadores apasionados y buscamos inspirar
         a la próxima generación. Descubra la innovación que nos impulsa y a las personas detrás de todo.</p><br>
         <button type="button" class="btn btn-outline-dark text-center" style="border-radius: 10px;"><b>&nbsp&nbsp&nbspExplorar&nbsp&nbsp&nbsp</b></button>
     </div>
     <div class="col-md-6">
           <img src="{% static "img/tr2.png" %}" class="rounded" alt="...">
     </div>
   </div>
   <div class="row" style="padding: 45px 400px 100px 400px">
     <div class="col-md-6">
           <img src="{% static "img/tr3.png" %}" class="rounded" alt="...">
     </div>
     <div class="col-md-6" style="background-color: white; padding: 50px;">
       <h5 class="card-title" style="font-size:35px; aling: center;"><b>La vida en Coca-Cola</b></h5><br>
       <p class="card-text" style="font-size:17px; ">En Coca‑Cola, hemos construido una empresa y una cultura que refleja el mundo al que servimos; emocionante, inspirador y diverso.
          Explore cómo es trabajar y prosperar con nosotros.</p><br>
         <button type="button" class="btn btn-outline-dark text-center" style="border-radius: 10px;"><b>&nbsp&nbspMira cómo es&nbsp&nbsp</b></button>
     </div>

   </div>
   <div class="row" style="padding: 35px 400px 100px 400px">

     <div class="col-md-6" style="background-color: white; padding: 80px;">
       <h5 class="card-title" style="font-size:35px; aling: center;"><b>Áreas profesionales</b></h5><br>
       <p class="card-text" style="font-size:17px; ">Nuestro objetivo es refrescar el mundo todos los días. Para lograrlo, necesitamos pensadores innovadores en casi todos los campos que puedas imaginar. Explora el mundo de Coca‑Cola y encuentra un lugar adecuado para ti.
</p><br>
         <button type="button" class="btn btn-outline-dark text-center" style="border-radius: 10px;"><b>&nbsp&nbsp&nbspEncuentre su carrera profesional&nbsp&nbsp&nbsp</b></button>
     </div>
     <div class="col-md-6">
           <img src="{% static "img/tr4.png" %}" class="rounded" alt="...">
     </div>
   </div>
   <div class="row" style="padding: 45px 400px 100px 400px">
     <div class="col-md-6">
           <img src="{% static "img/tr5.png" %}" class="rounded" alt="...">
     </div>
     <div class="col-md-6" style="background-color: white; padding: 50px;">
       <h5 class="card-title" style="font-size:35px; aling: center;"><b>Proceso de contratación</b></h5><br>
       <p class="card-text" style="font-size:17px; ">Nos complace que explore oportunidades profesionales con nosotros y esperamos guiarlo a través de nuestro proceso de contratación. Dé el primer paso para convertirse en un miembro valioso de The Coca‑Cola Company.</p><br>
         <button type="button" class="btn btn-outline-dark text-center" style="border-radius: 10px;"><b>&nbsp&nbspExplora el proceso de contratación&nbsp&nbsp</b></button>
     </div>

   </div>
   <div class="card-group" style="padding: 45px 400px 100px 400px;">
<div class="card">
 <img src="{% static "img/tr6.png" %}" class="card-img-top" alt="...">
 <div class="card-body">
   <p class="card-text" style="font-size: 20px; padding: 30px;">Coca-Cola Creations imagina el año 3000 con un nuevo sabor futurista y una experiencia impulsada por IA &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
   <a href="#" style="color: black; text-decoration: none; font-size: 15px"><b>Leer más</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
 </div>
</div>
<div class="card">
 <img src="{% static "img/tr7.png" %}" class="card-img-top" alt="...">
 <div class="card-body">
   <p class="card-text" style="font-size: 20px; padding: 30px;">Coca-Cola Zero Sugar y Highsnobiety lanzan una colaboración inspirada en ropa de teabajo para la Semana de la Moda de Nueva York &nbsp&nbsp&nbsp&nbsp</p>
   <a href="#" style="color: black; text-decoration: none; font-size: 15px"><b>Leer más</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
 </div>
</div>
<div class="card">
 <img src="{% static "img/tr8.png" %}" class="card-img-top" alt="...">
 <div class="card-body">
   <p class="card-text" style="font-size: 20px; padding: 30px;">Coca-Cola reúne la icónica pintura de Andy Warhol con una ilustre lista de obras maestras clásicas y contemporáneas en una nueva campaña global 'Masterpiece'</p>
   <a href="#" style="color: black; text-decoration: none; font-size: 15px"><b>Leer más</b>&nbsp<i class="fa-solid fa-arrow-right"></i></a><br>
 </div>
</div>
</div>
 </div>

{% endblock %}
